/* app css stylesheet */

body {
  padding-top: 40px;
}

td.date-col {
  width: 100px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 4px;
}